<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.manimate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".screen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Registration" />
        <activity android:name=".Forgotpassword" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Client.Client"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DL.DL"
            android:theme="@style/AppTheme"/>
        <activity android:name=".HR.HR"
            android:theme="@style/AppTheme"/>
        <activity android:name=".PM.PM"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Client.CLpostbag"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Client.CLuploadproject"
            android:theme="@style/AppTheme"/>
        <activity android:name=".HR.HRjobpost"
            android:theme="@style/AppTheme"/>
        <activity android:name=".HR.HRleave"
            android:theme="@style/AppTheme"/>
        <activity android:name=".HR.HRviewjobPost"
            android:theme="@style/AppTheme"/>
        <activity android:name=".PM.PMLeave"
            android:theme="@style/AppTheme"/>
        <activity android:name=".About"></activity>
    </application>

</manifest>